

@media screen and (min-width: 430px) and (max-width: 1024px) {
    #landingpageContainer {
        width: 430px;
        height: 932px;
        color: #FFFFFF;
        padding: 52px 20px 52px 19px;
    }

    #landingpageContent {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profileContainerLandingpage {
        margin: 52px 0px 179px 242px;
    }

    #profileContentLandingpage {
        display: inline-flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    #starIcon {
        width: 19px;
        height: 20px;
        fill: #FFD07A;
    }

    #userPoints {
        font-family: var(--paragraph_font);
        font-size: var(--paragraph_size);
    }

    #profilePic {
        width: 50px;
        height: 50px;

        border-radius: 50px;
        border: 1px solid #FFF;
        background: lightgray 50% / cover no-repeat;
    }

    #welcomeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin: 0px 59px 0px 59px;
    }

    .landingpageTitle {
        margin: 0px;
        font-size: var(--main_title_size);
        color: var(--main_title_color);
        font-family: var(--main_title_font);

        line-height: 150%; /* 60px */
        letter-spacing: 0.048px;
    }

    .playText {
        margin: 0px 0px 64px 0px;
        font-size: var(--paragraph_size);
        color: var(--paragraph_color);
        font-family: var(--paragraph_font);
        text-align: center;
        
        line-height: 150%; /* 24px */
        letter-spacing: 0.019px;
    }

    #buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        align-self: stretch;
        margin: 0px 59px 0px 59px;
    }

    .landingpageButton {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 312px;
        height: 47px;
        padding: 0px;
        border-radius: 5px;
        border-color: transparent;
        background: var(--main_title_color);

        font-family: var(--paragraph_font);
        font-size: var(--paragraph_size);
        color: var(--paragraph_color);
    }

    #partyPopUp {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        padding: 17px 21px 51px 40px;

        position: fixed;
        top: 300px;
        left: 32px;        
        z-index: 999;
        background-color: #161616;
        border-radius: 20px;
        box-shadow: -20px -20px 20px 0px rgba(78, 78, 78, 0.25), 20px 20px 20px 0px rgba(78, 78, 78, 0.25);
    }

    #partyPopUpClose {
        position: fixed;
        top: 317px;
        right: 61px;
        color: #FFF;
        background-color: #161616;
        border: none;
    }

    #partyPopUpContent {
        display: flex;
        width: 310.408px;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }

    .popupEmoji {
        margin: 0;
        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 88px;
        line-height: 150%; /* 132px */
        letter-spacing: 0.106px;
    }

    .partyPopUpTitle {
        margin: 0;

        font-size: 22px;
        font-family: var(--main_title_font);
        text-align: center;
        color: #FFF;
        line-height: 150%; /* 30px */
        letter-spacing: 0.024px;
    }

    #pinInputText {
        display: flex;
        padding: 8px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 310px;


        border-radius: 50px;
        border: 1px solid #6F7487;
        background: #161616;
        color: #FF0000;
    }
}