@font-face {
    font-family: OpensansRegular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpensansSemiBold;
    src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpensansBold;
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: WittgensteinRegular;
    src: url(fonts/Wittgenstein-Regular.ttf);
}

@font-face {
    font-family: WittgensteinMedium;
    src: url(fonts/Wittgenstein-Medium.ttf);
}

@font-face {
    font-family: WittgensteinSemiBold;
    src: url(fonts/Wittgenstein-SemiBold.ttf);
}

@font-face {
    font-family: WittgensteinBold;
    src: url(fonts/Wittgenstein-Bold.ttf);
}

@font-face {
    font-family: WittgensteinExtraBold;
    src: url(fonts/Wittgenstein-ExtraBold.ttf);
}

:root {
    --main_title_size: 40px;
    --paragraph_size: 16px;
    --main_title_color: #E50913;
    --paragraph_color: #FFFFFF;
    --main_title_font: OpensansSemiBold;
    --paragraph_font: OpensansRegular;
}

body {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    height: 100vh;
    overflow: hidden;
}