
@media screen and (min-width: 430px) and (max-width: 1024px) {
    #filterpageContainer {
        width: 430px;
        height: 932px;
        color: #FFFFFF;
        padding: 52px 20px 52px 20px;
        background: #000;
        overflow: scroll;
        margin-top: 145px;
    }

    #profileContainerWithBackArrow {
        margin: 52px 0px 24px 0px;
    }

    #profileContentWithBackArrow {
        display: flex;
        justify-content: space-between;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1000;
        background-color: black;
        padding: 44px 20px 24px 20px;
    }

    #profileCont {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
    }

    #backArrow {
        background-color: #000;
        border: none;
    }

    #starIcon {
        width: 19px;
        height: 20px;
        fill: #FFD07A;
    }

    #userPoints {
        font-family: var(--paragraph_font);
        font-size: var(--paragraph_size);
    }

    #profilePic {
        width: 50px;
        height: 50px;

        border-radius: 50px;
        border: 1px solid #FFF;
        background: lightgray 50% / cover no-repeat;
    }

    #searchContainer {
        display: flex;
        padding: 8px 16px;
        margin-bottom: 16px;
        justify-content: space-between;
        align-items: center;

        border-radius: 50px;
        border: 1px solid #6F7487;
        background: #000;
        color: #FFF;
    }

    #searchBar {
        background-color: #000;
        color: #FFF;
        font-family: var(--paragraph_font);
        font-size: 16px;
        padding: 0px;
    }

    #searchButton {
        width: 16px;
        height: 16px;
        background-color: #000;
        border: none;
    }

    #buttonNoFilter {
        display: flex;
        width: 33px;
        height: 33px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 50px;
        border: 1px solid #6F7487;
        background-color: #000;        
        transition: all 0.3s ease;
    }

    #filterContainer {
        margin: 0 0 32px 0;
    }

    #buttonContainerFilter {
        display: flex;
        padding: 0px;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
    }

    #buttonCategories > p {
        margin: 0;
    }

    .filterpageButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        flex-direction: column;
        text-align: center;

        border-radius: 50px;
        border: 1px solid #6F7487;
        background: #000;
        color: #FFF;
    }

    #buttonCategories {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        border-radius: 50px;
        border: 1px solid #6F7487;
        background: #000;
        color: #FFF;
    }

    #categoriesDropdown {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        position: fixed;
        z-index:1010;
        background-color: rgba(45, 45, 45, 0.95);
        backdrop-filter: blur(4px);
    }

    #linksContainer {
        margin: 100px 0px 0px 40px;

        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
    }

    #exitDropdown {
        position: fixed;
        top: 98px;
        right: 40px;
        color: #FFF;
        background-color: #2D2D2D;
        border: none;
    }
    
    #linksContainer > a {
        color: #A8A9AA;
        text-decoration: none;

        font-family: var(--paragraph_font);
        font-size: 16px;
        line-height: 150%; /* 24px */
        letter-spacing: 0.019px;
    }

    #filmsandSeriesBoxesContainer {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, auto);
        grid-gap: 17px;
    }

    .mediaImage {
        width: 119px;
        height: 173px;
        border-radius: 5px;
    }

    .mediaTitle {
        margin: 12px 0px 0px 0px;
        font-family: var(--paragraph_font);
        font-size: 14px;
        line-height: 130%; /* 18.2px */
        letter-spacing: 0.017px;
    }

    .mediaYear {
        margin: 2px 0px;
        font-family: var(--paragraph_font);
        font-size: 14px;
        line-height: 130%; /* 18.2px */
        letter-spacing: 0.017px;
    }

    .mediaQuizLength {
        margin: 4px 0px 0px 0px;
        font-family: var(--paragraph_font);
        font-size: 12px;
        line-height: 130%; /* 15.6px */
        letter-spacing: 0.014px;
    }

    #quizPopup {
        width: 100%;
        height: 251px;

        border-radius: 30px 30px 0px 0px;
        background: #2D2D2D;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    #closePopupButton {
        position: fixed;
        top: 683px;
        right: -3px;
        z-index: 888;
        color: #FFF;
        background-color: #2D2D2D;
        border: none;
        margin: 28px 40px 0px 0px;
    }

    #quizPopupContent {
        margin: 45px 40px 35px 40px;        
        display: flex;
        width: 350px;
        flex-direction: column;
        align-items: center;    
    }

    #quizPopupMainTitle {
        margin: 0px 0px 12px 0px;

        font-size: 26px;
        font-family: var(--main_title_font);
        line-height: 150%; /* 39px */
        letter-spacing: 0.031px;
    }

    #quizPopupMediaTitle {
        margin: 0px 0px 4px 0px;

        font-size: 16px;
        font-family: var(--paragraph_font);
        line-height: 130%; /* 20.8px */
    }

    #quizPopupQuestionCount {
        margin: 0px 0px 32px 0px;

        font-size: 14px;
        font-family: var(--paragraph_font);
    }

    #startQuizButton {
        width: 350px;
        height: 47px;
        padding: 14px 131px;
        text-align: center;

        font-family: var(--main_title_font);
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #E50913;
        color: #FFF;
    }

    #fetchGameButton {
        width: 350px;
        height: 47px;
        text-align: center;

        font-family: var(--main_title_font);
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #E50913;
        color: #FFF;
    }
}